<ng-container *ngIf="vm$ | async as vm">
  <h1>Create Component</h1>
  <form [formGroup]="vm.form">
    <ng-container formGroupName="portal">
      <mat-form-field appearance="outline" class="g-form-field">
        <mat-label>Portal</mat-label>
        <input type="text"
              placeholder="Portal"
              aria-label="Portal"
              matInput
              formControlName="name"
              [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of vm.portals" [value]="option.name">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" class="g-form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <div class="g-form-field component-editor-dialog__description">
      <h3>Description</h3>
      <app-html-editor formControlName="description">

      </app-html-editor>
    </div>

  </form>

  <div class="g-actions">
    <button mat-stroked-button [mat-dialog-close]>Cancel</button>
    <button mat-raised-button (click)="save(vm.form.value)">Save</button>

  </div>
</ng-container>
